<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>日之出舎</title>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

	<div>
			<img class="top_img" src="../img/MorningSun.jpg" alt="">
			<div class="menu">
				<img class="logo" src="../img/logo.png" alt="">
				<div>
					<span class="ruby">こだわり卵の朝ごはん</span>
					<h1 class="name">日之出舎</h1>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#" title="">日之出舎のこだわり</a></li>
						<li><a href="#" title="">お品書き</a></li>
						<li><a href="#" title="">ご予約</a></li>
						<li><a href="#" title="">お知らせ</a></li>
						<li><a href="#" title="">店舗のご案内</a></li>
					</ul>
				</nav>
			</div>
			<nav>
				<ul class="head_nav">
					<li class="h_nav">
						<a class="link" href="#" title="">会員登録<i class="fas fa-pencil-alt"></i></a>
					</li>
					<li class="h_nav">
						<a class="link" href="#" title="">ログイン<i class="fas fa-user-lock"></i></a>
					</li>
					<li class="h_nav">
						<a class="link" href="#" title="">カート<i class="fas fa-shopping-cart"></i></a>
					</li>
					<input class="search" type="text" name="" value="" placeholder="">
					<input type="submit" value="&#xf002;" class="fas submit">
				</ul>
			</nav>
	</div>
	<div class="main_text">
			<h1 class="text">一日の始まりは、朝食から。</h1>
			<p class="text">忙しい日々に誰もが追い立てられる現代社会、朝からご飯を食べるのは胃が重くつい抜いてしまう…なんて方も多いのではないでしょうか。</p>
			<p class="text">朝ごはんを食べることで、眠っている間に下がった体温を上げることが出来ます。そして、それが一日の活動の準備となるのです。朝ごはんは重要なエネルギー補給です。</p>
			<p class="text">炊き立てのお米、瑞々しい青菜、湯気が立つお味噌汁、そして日之出のようなぷっくりとまあるい黄身の新鮮な卵。</p>
			<p class="text">温かい朝ごはんを食べて、今日も一日元気に、行ってらっしゃいませ。</p>
	</div>
	<div class="content">
		<div class="content_box">
			<img class="content_img" src="../img/TKG.jpg" alt="">
			<span class="content_text">炊き立てのご飯に新鮮な朝陽を乗せて、</span>
			<span class="content_text">こだわりのお醤油をひとさし。</span>	
		</div>
		<div class="content_box">
			<img class="content_img" src="../img/daruma.jpg" alt="">
			<span class="content_text">ここでしか出会えない、人、物、景色。</span>
			<span class="content_text">自慢の観光地をご紹介します。</span>	
		</div>
		<div class="content_box">
			<img class="content_img" src="../img/menu.jpg" alt="">
			<span class="content_text">地元カマクラの地で採れたこだわりの</span>
			<span class="content_text">食材を厳選し、丁寧に仕上げました。</span>	
		</div>
	</div>

	<div class="info">
		<div class="info_area">
			<h1 class="news">お知らせ</h1>
			<ul>
				<li><a class="news_text" href="#" title="">2020年6月20日 夏季催事・イベント情報<i class="fas fa-chevron-right"></i></a></li>
				<li><a class="news_text" href="#" title="">2020年6月20日 夏季催事・イベント情報<i class="fas fa-chevron-right"></i></a></li>
				<li><a class="news_text" href="#" title="">2020年6月20日 夏季催事・イベント情報<i class="fas fa-chevron-right"></i></a></li>
			</ul>
		</div>
		<div class="info_area">
			<ul class="link_area">
				<li><a class="link_box" href="#" title="">ワークショップ<i class="fas fa-chevron-right"></i></a></li>
				<li><a class="link_box" href="#" title="">メディア掲載情報<i class="fas fa-chevron-right"></i></a></li>
				<li><a class="link_box" href="#" title="">日之出舎公式アカウント<i class="fas fa-chevron-right"></i></a></li>
				<li><a class="link_box" href="#" title="">採用情報<i class="fas fa-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>

	<footer>
		<nav>
			<ul>
				<li><a href="#" title="">メールマガジン</a></li>
				<li><a href="#" title="">プライバシーポリシー</a></li>
				<li><a href="#" title="">会社概要</a></li>
				<li><a href="#" title="">お問い合わせ</a></li>
			</ul>

		</nav>
		<p>Copylight(c)Hinodeya Co.Ltd All Rights Reserved</p>
	</footer>
</body>
</html>